.skip-pixels{
    margin-right: 5px;
}

form {
    text-align: -webkit-match-parent;
    margin: initial;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.full-width {
    width: 100%;
}